.highlight-focused {
    background-color: #ff0000 !important;
    opacity: 0.3;
}

hypothesis-highlight {
    background-color: #0084ff;
    opacity: 0.3; 
    cursor: pointer; 
}

.note {
    background-color: limegreen;
    opacity: 0.5;
}

#summary {
    border: dotted orange 1px;
}